<!-- start-FOOTER -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 text-center text-lg-left">
                    <a href="#" class="footer-brand">
                        <img src="assets/img/logo-footer.svg" alt="brand">
                    </a>
                </div>
                <div class="col-lg-6">
                    <ul class="footer-links">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="news.html">
                                News
                            </a>
                        </li>

                        <li>
                            <a href="video.html">
                                Media
                            </a>
                        </li>

                        <li>
                            <a href="team.html">
                                Raiting
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Download
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Events
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Help
                            </a>
                        </li>

                        <li>
                            <a href="team.html">
                                Players
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Azerbaijan
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Judges and coaches
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                FIDE
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Support
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div id="footer-map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
           <div class="row">
                <div class="col-lg-6">
                    <p class="copyright nm">
                        &copy; 2020 Azerbaijan Chess Federation. All Rights Reserved.
                    </p>
                </div>

            <div class="col-lg-6">
                <ul class="footer-socials mt-3 mt-md-0 float-md-right">
                    <li>
                        <a href="#">
                            <img src="assets/img/icons/facebook-gray.svg" alt="facebook">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/icons/twitter-gray.svg" alt="twitter">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/icons/youtube-gray.svg" alt="twitter">
                        </a>
                    </li>
                </ul>
            </div>
           </div>
        </div>
    </div>
</footer>
<!-- ./end-FOOTER -->
