<!-- start-HEADER -->
<header id="header">
    <div class="chess-header_top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">

                <!-- social networks -->
                <ul class="chess-social_networks d-flex align-items-center justify-content-left">
                    <li>
                        <a href="#">
                            <img src="assets/img/icons/facebook-theme.svg" role="icon" alt="facebook">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/icons/twitter-theme.svg" role="icon" alt="facebook">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="assets/img/icons/youtube-theme.svg" role="icon" alt="facebook">
                        </a>
                    </li>
                </ul>
                <!-- ./social networks -->


                <div class="chess-top_right d-flex align-items-center justify-content-between">
                    <div class="chess-search_box">
                        <input type="text" class="search-box">
                        <button>
                            <img src="assets/img/icons/search.svg" height="15px" role="icon" alt="search">
                        </button>
                    </div>

                    <div class="dropdown">
                        <button class="dropdown-toggle language-dropdown" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AZ
                        </button>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            <a class="dropdown-item" href="#">EN</a>
                            <a class="dropdown-item" href="#">RU</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="chess-header_bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg pl-0 pr-0">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo-en.svg" role="logo" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img height="25px" src="assets/img/icons/menu.svg" alt="icon" role="icon">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="about.html">About us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="" class="nav-link">Media</a>
                        <ul class="submenu">
                            <li>
                                <a href="#">Players</a>
                            </li>      
                            <li class="dropdown">
                                <a href="#">Games</a>
                                <ul class="submenu">
                                <li class="dropdown">
                                    <a href="">jeruh dua</a>
                                    <ul class="submenu">
                                    <li>
                                        <a href="">mentok satu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="">mentok dua</a>
                                    </li>
                                    <li>
                                        <a href="">mentok satu</a>
                                    </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">jeruh satu</a>
                                </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Baku</a>
                            </li>  

                            <li>
                                <a href="#">Subway</a>
                            </li>  

                            <li>
                                <a href="#">Nostalji</a>
                            </li>  
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Chess players</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Judges and coaches</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contacts</a>
                    </li>

                    <li class="nav-item nav-live">
                        <a class="nav-link nav-for-live" href="live.html">
                            <img src="assets/img/icons/live.svg" height="24px" alt="live" role="icon">
                            Live
                        </a>
                    </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ./end-HEADER -->
