<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="description">
<meta name="author" content="Aysel Amrahli">

<link rel="canonical" href="https://www.projectname~.az">
<link rel="shortcut icon" href="favicon.png">
<link rel="apple-touch-icon" href="/apple-icon.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-36x36.png">


<title> Project name - {{ title }} </title>

<!-- injector:css -->
<link rel="stylesheet" href="assets/css/design.min.css">
<!-- endinjector -->

</head>
<body>

{{> includes/header }}

 <div class="wrapper container p-0">
    {{#> body}}

        {{!-- Body content --}}

    {{/body}}
 </div>

{{> includes/footer }}


<!-- injector:js -->
<script src="assets/js/libs/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAAgzs1wgbRaHBWyTiidXwlLrRip_vyEk&callback"></script>
<script src="assets/js/app.min.js"></script>
<!-- endinjector -->

{{#> custom-scripts}}
    {{!-- Custom scripts for each pages. --}}
{{/custom-scripts}}
</body>
</html>