{{#> layouts/default title="Videos" }}


{{#*inline "body"}}



    <!-- photos -->
    <section class="section section-gallery pb-4">

        <!--- breadcrump --->
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Foto</li>
                </ol>
            </nav>
        <!--- ./breadcrump --->

        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-3 col-xl-2">
                    <div class="form-group">
                        <input class="datepicker form-control" data-date-format="mm/dd/yyyy">
                    </div>
                </div>
            </div>
            <div class="row">

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group1" class="gallery-item">
                        <p>
                            About Baku
                            Chess Olympiad
                        </p>
                   </a>

                    <div class="d-none">
                        <a class="grouped_elements" rel="group1" href="assets/img/temp/s1.png"></a>
                        <a class="grouped_elements" rel="group1" href="assets/img/temp/s3.png"></a> 	
                        <a class="grouped_elements" rel="group1" href="assets/img/temp/s4.png"></a> 
                        <a class="grouped_elements" rel="group1" href="assets/img/temp/s5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group2" class="gallery-item">
                        <p>
                            Press conferences
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group2" href="assets/img/temp/team2.png"></a>
                        <a class="grouped_elements" rel="group2" href="assets/img/temp/team3.png"></a> 	
                        <a class="grouped_elements" rel="group2" href="assets/img/temp/team4.png"></a> 
                        <a class="grouped_elements" rel="group2" href="assets/img/temp/team5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group3" class="gallery-item">
                        <p>
                            Opening ceremony    
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group3" href="assets/img/temp/team2.png"></a>
                        <a class="grouped_elements" rel="group3" href="assets/img/temp/team3.png"></a> 	
                        <a class="grouped_elements" rel="group3" href="assets/img/temp/team4.png"></a> 
                        <a class="grouped_elements" rel="group3" href="assets/img/temp/team5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group4" class="gallery-item">
                        <p>
                            Preparation of 
                            teams for the 
                            Olympiad
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group4" href="assets/img/temp/s1.png"></a>
                        <a class="grouped_elements" rel="group4" href="assets/img/temp/s3.png"></a> 	
                        <a class="grouped_elements" rel="group4" href="assets/img/temp/s4.png"></a> 
                        <a class="grouped_elements" rel="group4" href="assets/img/temp/s5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->   

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group5" class="gallery-item">
                        <p>
                           Azerbaijjan 
                            Chess Federation
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group5" href="assets/img/temp/team2.png"></a>
                        <a class="grouped_elements" rel="group5" href="assets/img/temp/team3.png"></a> 	
                        <a class="grouped_elements" rel="group5" href="assets/img/temp/team4.png"></a> 
                        <a class="grouped_elements" rel="group5" href="assets/img/temp/team5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->   

                <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group6" class="gallery-item">
                        <p>
                            About us
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group6" href="assets/img/temp/team2.png"></a>
                        <a class="grouped_elements" rel="group6" href="assets/img/temp/team3.png"></a> 	
                        <a class="grouped_elements" rel="group6" href="assets/img/temp/team4.png"></a> 
                        <a class="grouped_elements" rel="group6" href="assets/img/temp/team5.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->   

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group7" class="gallery-item">
                        <p>
                           Baku
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group7" href="assets/img/temp/video.png"></a>
                        <a class="grouped_elements" rel="group7" href="assets/img/temp/video2.png"></a> 	
                        <a class="grouped_elements" rel="group7" href="assets/img/temp/video3.png"></a> 
                        <a class="grouped_elements" rel="group7" href="assets/img/temp/video4.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->  

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group8" class="gallery-item">
                        <p>
                            Fide
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group8" href="assets/img/temp/video.png"></a>
                        <a class="grouped_elements" rel="group8" href="assets/img/temp/video2.png"></a> 	
                        <a class="grouped_elements" rel="group8" href="assets/img/temp/video3.png"></a> 
                        <a class="grouped_elements" rel="group8" href="assets/img/temp/video4.png"></a> 
                    </div>
               </div>
               <!--./gallery item -->   

               <!--gallery item -->
               <div class="col-md-4 col-xl-2">
                   <a href="#" rel="group9" class="gallery-item">
                        <p>
                           Round 1
                        </p>
                   </a>

                   <div class="d-none">
                        <a class="grouped_elements" rel="group9" href="assets/img/temp/video.png"></a>
                        <a class="grouped_elements" rel="group9" href="assets/img/temp/video2.png"></a> 	
                        <a class="grouped_elements" rel="group9" href="assets/img/temp/video3.png"></a> 
                        <a class="grouped_elements" rel="group9" href="assets/img/temp/video4.png"></a> 
                    </div>
               </div>
               <!--./gallery item --> 
               
            </div>
        </div>

    </section>
    <!-- ./photos -->

{{/inline}}

{{/layouts/default}}