{{#> layouts/default title="home" }}


{{#*inline "body"}}

    <!-- latest news -->
    <section class="section section-latest_news">

        <!--- section-title -->
        <div class="section-title d-flex align-items-center justify-content-between">
            <h4>
                Latest news
            </h4>

            <a href="#">
                All news
            </a>
        </div>
        <!--- ./section-title -->

        <div class="container-fluid">
            <div class="row">
                <!-- news item -->
                <div class="col-md-3 p-0">
                    <div class="chess-news_item">
                        <a href="#">
                            <img src="assets/img/news1.png" alt="news">
                            <p>
                                Official closing ceremony of 42nd Chess Olympiad held in Baku
                            </p>
                        </a>
                    </div>
                </div>
                <!-- ./news item -->

                <!-- news item -->
                <div class="col-md-3 p-0">
                    <div class="chess-news_item">
                        <a href="#">
                            <img src="assets/img/news1.png" alt="news">
                            <p>
                                Official closing ceremony of 42nd Chess Olympiad held in Baku
                            </p>
                        </a>
                    </div>
                </div>
                <!-- ./news item -->

                <!-- news item -->
                <div class="col-md-3 p-0">
                    <div class="chess-news_item">
                        <a href="#">
                            <img src="assets/img/news1.png" alt="news">
                            <p>
                                Official closing ceremony of 42nd Chess Olympiad held in Baku
                            </p>
                        </a>
                    </div>
                </div>
                <!-- ./news item -->

                <!-- news item -->
                <div class="col-md-3 p-0">
                    <div class="chess-news_item">
                        <a href="#">
                            <img src="assets/img/news1.png" alt="news">
                            <p>
                                Official closing ceremony of 42nd Chess Olympiad held in Baku
                            </p>
                        </a>
                    </div>
                </div>
                <!-- ./news item -->

                            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->
            </div>
        </div>

    </section>
    <!-- ./latest news -->

    <hr class="section-divider"/>

    <!-- chess players -->
        <section class="section section-chess_players">
            <!--- section-title -->
            <div class="section-title d-flex align-items-center justify-content-between">
                <h4>
                    Chess Players
                </h4>
            </div>
            <!--- ./section-title -->


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-5 p-0">
                                <nav class="chess-nav">
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link back-yellow active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <img src="assets/img/figure-1.svg" alt="chess">
                                            <span>
                                                Women
                                            </span>
                                        </a>
                                        <a class="nav-item nav-link back-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                                            <img src="assets/img/figure-3.svg" alt="chess">
                                            <span>
                                                Seniors
                                            </span>
                                        </a>
                                        <a class="nav-item nav-link back-dark" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                                            <img src="assets/img/figure-4.svg" alt="chess">
                                            <span>
                                                Girls
                                            </span>
                                        </a>
                                        <a class="nav-item nav-link back-yellow" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">
                                            <img src="assets/img/figure-2.svg" alt="chess">
                                            <span>
                                                Boys
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>

                            <div class="col-md-7 p-0">
                                <div class="tab-content chess-tab_content h-100 d-flex align-items-center" id="nav-tabContent">

                                    <div class="tab-pane w-100 fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div id="chessCarousel" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="d-flex justify-content-center">
                                                    <img src="assets/img/sehriyar.png" class="player-pic" alt="chess player">
                                                    <div class="chess-carousel_caption ml-2">
                                                        <img src="assets/img/icons/flag.png" alt="flag">
                                                        <p class="player-name m-0">
                                                            Şəhriyar  <br>
                                                            Məmmədyarov
                                                        </p>
                                                        <p class="player-rank">
                                                            <span>1</span>
                                                            RANK
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="d-flex justify-content-center">
                                                    <img src="assets/img/sehriyar.png" class="player-pic" alt="chess player">

                                                    <div class="chess-carousel_caption ml-2">
                                                        <img src="assets/img/icons/flag.png" alt="flag">
                                                        <p class="player-name m-0">
                                                            Şəhriyar  <br>
                                                            Məmmədyarov
                                                        </p>
                                                        <p class="player-rank">
                                                            <span>1</span>
                                                            RANK
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#chessCarousel" role="button" data-slide="prev">
                                            <img src="assets/img/icons/prev.png" role="icon" alt="prev">
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#chessCarousel" role="button" data-slide="next">
                                            <img src="assets/img/icons/next.png" role="icon" alt="next">
                                            <span class="sr-only">Next</span>
                                        </a>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                    </div>
                                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
    <!-- ./chess players -->



{{/inline}}

{{/layouts/default}}