{{#> layouts/default title="home" }}


{{#*inline "body"}}

    <section class="section section-latest_news">
        <div class="container-fluid">
            <!--- section-title -->
            <div class="section-title d-flex align-items-center justify-content-between">
                <h4>
                    Latest news
                </h4>

                <a href="#">
                    All news
                </a>
            </div>
            <!--- ./section-title -->
        </div>
        <div class="container-fluid">
            <div class="row">
            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->

            <!-- news item -->
            <div class="col-md-3 p-0">
                <div class="chess-news_item">
                    <a href="#">
                        <img src="assets/img/news1.png" alt="news">
                        <p>
                            Official closing ceremony of 42nd Chess Olympiad held in Baku
                        </p>
                    </a>
                </div>
            </div>
            <!-- ./news item -->
            </div>
        </div>

    </section>

{{/inline}}

{{/layouts/default}}