{{#> layouts/default title="home" }}


{{#*inline "body"}}

    <section id="section section-latest_news">
        <div class="container-fluid p-0">
            any
        </div>
    </section>

{{/inline}}

{{/layouts/default}}