{{#> layouts/default title="Search" }}


{{#*inline "body"}}



    <!-- latest news inner -->
    <section class="section section-search pb-4">

        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="search-page_box">
                <input class="search-box mb-3" type="text">

                <div class="filter-radio d-flex align-items-center">
                    <div class="radio-btn_filter d-flex align-items-center mr-4">
                        <input id="text" checked type="radio" name="search_filter">
                        <label for="text" class="m-0"><span>Text</span></label>
                    </div>

                    <div class="radio-btn_filter d-flex align-items-center">
                        <input id="photo" type="radio" name="search_filter">
                         <label for="photo" class="m-0"><span>Photo</span></label>
                    </div>
                </div>

                <nav class="search-content_filter py-4">
                    <ul>
                        <li class="active"><a href="#">All content</a></li>
                        <li><a href="#">Latest news</a></li>
                        <li><a href="#">Press-releases</a></li>
                        <li><a href="#">Interviews</a></li>
                    </ul>
                </nav>
            </div>

            <article class="search-item">
                <a href="#">
                    Activities Schedule and Information
                </a>

                <p>
                    Information Points From August 4th to September 14th Baku city population and guests are welcome to visit the Olympiad Information Points in 28 May, Metro Park and Park Bulvar Malls. Comprehensive in
                </p>
            </article>

             <article class="search-item">
                <a href="#">
                    Activities Schedule and Information
                </a>

                <p>
                    Information Points From August 4th to September 14th Baku city population and guests are welcome to visit the Olympiad Information Points in 28 May, Metro Park and Park Bulvar Malls. Comprehensive in
                </p>
            </article>

             <article class="search-item">
                <a href="#">
                    Activities Schedule and Information
                </a>

                <p>
                    Information Points From August 4th to September 14th Baku city population and guests are welcome to visit the Olympiad Information Points in 28 May, Metro Park and Park Bulvar Malls. Comprehensive in
                </p>
            </article>

             <article class="search-item">
                <a href="#">
                    Activities Schedule and Information
                </a>

                <p>
                    Information Points From August 4th to September 14th Baku city population and guests are welcome to visit the Olympiad Information Points in 28 May, Metro Park and Park Bulvar Malls. Comprehensive in
                </p>
            </article>
        </div>

    </section>
    <!-- ./latest news inner -->

{{/inline}}

{{/layouts/default}}