{{#> layouts/default title="Search" }}


{{#*inline "body"}}



    <!-- latest news inner -->
    <section class="section section-search pb-4">

        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="search-page_box">
                <input type="text">
            </div>
        </div>

    </section>
    <!-- ./latest news inner -->

{{/inline}}

{{/layouts/default}}