{{#> layouts/default title="Milli komanda" }}


{{#*inline "body"}}

    <!-- latest news inner -->
    <section class="section section-news_inner section-team_inner pb-4">


        <!--- breadcrump --->
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Players</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shakhriyar Mamedyarov</li>
                </ol>
            </nav>
        <!--- ./breadcrump --->

        <div class="container-fluid p-0">
            <article>

                <img class="main-news_img mr-4" src="assets/img/temp/shahriyar.png" alt="news">

                <p>
                    <b>
                        Shakhriyar Mamedyarov
                    </b>
                </p>

                <h6>
                    <b>Title:</b> GM
                </h6>

                 <div class="chess-props d-flex align-items-center my-3">
                    <div class="chess-props_item mr-4">
                        <img src="assets/img/icons/chess2.png" alt="icon" role="icon">
                        <span>2369</span>
                    </div>

                    <div class="chess-props_item mr-4">
                        <img src="assets/img/icons/time.svg" alt="icon" role="icon">
                        <span>2369</span>
                    </div>

                    <div class="chess-props_item mr-4">
                        <img src="assets/img/icons/bullet.svg" alt="icon" role="icon">
                        <span>2369</span>
                    </div>
                </div>

                <p>
                    Born on April 12nd, 1985, FIDE rating: 2790 (March 2019) <br>
                </p>

                <p>

                    Mamedyarov competed in the Candidates Tournament in 2011 and 2014. After winning the 2017 FIDE Grand Prix he qualified for
                    the Candidates Tournament 2018 and took the second place there.
                </p>

                <p>

                    Mamedyarov won the 2018 Biel Chess Festival, beating reigning world champion Magnus Carlsen. 
                </p>

                <p>
                   A gold medalist at the 2012 Chess Olympiad on the third board, he is a three-time European Team Champion as a member of
                    Azerbaijan’s national team (2009, 2013, 2017).          
                </p>

                <p>
                    In 2003 he won the World Junior Chess Championship. He repeated his victory in 2005 (thus becoming the only two-time 
                    champion among juniors).  
                </p>

                <p>
                    In June 2013 Mamedyarov won the World Rapid Chess Championship. 
                </p>

                <p>
                    The two times winner of the tournament "Shamkir Chess" dedicated to the memory of Vugar Gashimov. Mamedyarov won 
                    two times in the European Chess Club Cup by playing at SOCAR  Azerbaijan team.
                </p>
            </article>
        </div>

    </section>
    <!-- ./latest news inner -->

{{/inline}}

{{/layouts/default}}