{{#> layouts/default title="Videos" }}


{{#*inline "body"}}



    <!-- videos -->
    <section class="section section-videos pb-4">

        <!--- breadcrump --->
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Video</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Opening ceremony</li>
                </ol>
            </nav>
        <!--- ./breadcrump --->

        <div class="container-fluid px-0">
            <div class="row">
               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video2.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video3.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video4.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video5.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item -->

               <!--video item -->
               <div class="col-md-4 col-xl-3">
                   <div class="video-item">
                        <div class="video-img" style="background-image: url(assets/img/temp/video.png)"></div>
                        <a class="various fancy-box-video" href="https://www.youtube.com/embed/7h4o08e-uLw?autoplay=1">
                            <img src="assets/img/icons/play.svg" alt="icon" role="icon icon-play">
                        </a>
                   </div>
               </div>
               <!--./video item --> 
            </div>
        </div>

    </section>
    <!-- ./videos -->

{{/inline}}

{{/layouts/default}}