// **********project styles ********//

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-image: url(../img/back.svg);
    background-color: rgba(0,0,0, .1);
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

// reset

input,
button,
textarea {
    &:focus {
        outline: none;
    }
}


// wrapper
.wrapper {
    background-color: #ffffff;
    padding: 15px 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000000;
    background-color: rgb(255,255,255);

    img {
        position: absolute;
        top:50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

// section title

.section-title {


    h4, a {
        color: $text;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    a {
        text-decoration: none;
        display: inline-block;

        img {
            height: 18px;
        }
    }
}


.section-latest_news {

    .chess-news_item {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            color: #ffffff;
            font-size: 18px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            z-index: 10;
            @include transition(.25s ease-in-out);
        }
  
        a {
            position: relative;
            display: block;
            height: 281px;
            width: 100%;
            @include transition(.25s ease-in-out);

            &::after {
                width: 100%;
                height: 100%;
                z-index: 5;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0, .48);
                @include transition(.25s ease-in-out);
            }


            &:hover {
                &::after {
                    background-color: transparent;
                }

                p {
                    opacity: 0;
                }
            }
        }
        
    }
}


.section-chess_players {
    .chess-nav {
        .nav-link {
            width: 50%;
            border:none;
            border-radius: 0;
            flex: inherit;
            flex-direction: column;
            img {
                height: 120px;
            }


            span {
                font-size: 16px;
                display: block;
            }
        }

        .back-yellow {
            background-color: $theme;

            span {
                color: $light-black;
            }
        }

        .back-dark {
            background-color: $light-black;

            span {
                color: #ffffff;
            }
        }

    }

    .chess-tab_content {
        background-image: url(../img/back2.png);

        @media screen  and (max-width: 768px){
            height: 280px !important;
            margin-bottom: 20px;
        }

        .carousel {
            .carousel-item {
                .btn-download_chess {
                    background-color: $theme;
                    border-radius: 0;
                    padding: 5px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    span {
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: 600;
                    }

                    img {
                        height: 14px;
                    }
                }
                img.player-pic {
                    width: 100px;
                    height: 102px;
                    object-fit: cover;
                    float: left;
                }

                .chess-carousel_caption {
                    .player-name {
                        color: $light-black;
                        font-size: 16px;
                    }

                    .player-rank {
                        color: $light-black;
                        span {
                            font-size: 40px;
                        }
                    }
                }
            }


            .carousel-control-prev,
            .carousel-control-next {
                opacity: 1;
                img {
                    height: 50px;
                }
            }
        }
    }

    .chess-event_box {

        .title {
            padding: 8px;
            text-align: center;
            background-color: $dark-black;
            p {
                margin: 0;
                font-size: 14px;
                color: #ffffff;
            }
        }

        .body {
            background-image: url(../img/chess.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            background-color: rgba(0,0,0,.6);
            background-blend-mode: multiply;
            text-align: center;
            padding: 30px 0;

            img {
                border: 2px solid $theme;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .name,
            .event-text {
                color: #ffffff;
                margin: 0;
            }

            .event-text {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .search-box {
            padding: 10px 30px;
            background-color: #d7b46a;
            label {
                font-weight: 400;
                color: #ffffff;
                font-size: 13px;
                display: block;
                margin-bottom: 2px;
            }

            input {
                height: 29px;
                width: 100%;
                border: 1px solid #dadada;
                background-color: #ffffff;
                color: #656565;
                font-size: 13px;
                padding-right: 25px;
                text-indent: 5px;
            }


        .event-search {
            position: relative;
            button {
                background-color: transparent;
                border:none;
                position: absolute;
                top:0;
                right: 0;

                img {
                    width: 18px;;
                }
            }
        }
        }
    }
}

.chess-props {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 4px 0;

    &_item {
        display: flex;
        align-items: center;

        img {
            height: 22px;
        }
        span {
            font-size: 13px;
            font-weight: 600;
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.section-team_inner {
    .chess-props {
        position: static;
        width: auto;
    }
}


.section-calendar {

    .filter-select {
        select {
            height: 44px;
            width: 127px;
            padding-left: 15px;
            padding-right: 35px;
            background-color: $light-black;
            color: #ffffff;
            text-align: center;
            border:none;

            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;

            background-image: url(../img/icons/down.svg);
            background-repeat: no-repeat;
            background-position: 80% 50%;
            background-size: 13px;
        }
    }   

    .tab-pane {
        overflow: auto;
    }

    .calendar-tab {
        .nav-tabs {
            border:none;
        }
        .nav-link {
            background-color: $light-black;
            color: #ffffff;
            padding:10px;
            border-radius: 0;
            border:none;
            margin-right: 1px;
            max-width: 150px;
            font-weight: 600;
        }

        .nav-link.active {
            background-color: $theme;
            color: $light-black;
        }
    }

    .table-calendar-events {
        width: 100%;

        a, td, th {
            color: $light-black;
        }

        thead {
            background-color: #dadada;

            th {
                font-size: 13px;
            }
        }
        tbody {
            img {
                height: 30px;
                width: 30px;
                object-fit: cover;
                margin-right: 10px;
            }

            td {
                font-size: 14px;
                font-weight: 600;

            }
        }
    }
}

.section-news_inner,
.section-about {
    article {
        header {
            h6, h5, h4, h3, h2, h1 {
                color: $theme-light;
            }
        }

        img.main-news_img {
            float: left;
            max-width: 100%;

            @media screen and (max-width: 768px){
                float: none;
                margin-bottom: 10px;
            }
        }

        p {
            color: $dark-black;
            font-size: 17px;
        }
    }
}


.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    &-item {
         a {
            color: #a6a6a6;
            text-decoration: none;
         }

         &.active {
            color: $dark-black;
            font-weight: 500;
         }
    }
}

.pagination {
    margin: 0;
    padding: 20px 0;
    .page-item {
        .page-link {
            border: none;
            border-radius: 0;
            color: $light-black;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            &:hover {
                background-color: transparent;
                color: $theme;
            }
        }

        &.active  {
            .page-link {
                color: $theme;
                background-color: transparent;
                font-weight: 600;
            }
        }
    }
}

.share-social {
    p {
        color: #adadad;
        font-size: 16px;
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            padding: 0 10px;
            
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                @include transform(translateY(-50%));
                width: 1px;
                height: 70%;
                background-color: lighten($light-black, 60%);
            }

            &:last-child {

                &::after {
                    content: none;
                }
            }
            img {
                height: 14px;
            }
        }
    }
}

.btn-next_news {
    display: inline-block;
    border-radius: 0;
    font-weight: 500;
    padding: 2px 0;
    border-bottom: 1px solid lighten($light-black, 30%);
}

.radio-btn_filter {
    label {
        position: relative;
        color: $light-black;
        margin: 0;

        span {
            display: inline-block;
            padding: 0 20px;
        }

        &::before {
            content: "";
            position: absolute;
            top:50%;
            @include transform(translateY(-50%));
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border:2px solid $light-black;
        }
    }
    input {
        display: none;
        
        &:checked + label::before {
            border-color: $theme;
        }
    }
}

.section-search {
    .search-box {
        width: 387px;
        height: 43px;
        border: 1px solid #aeaeae;
        background-image: url(../img/icons/search.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        padding-right: 30px;

        @media screen and (max-width:768px) {
            width: 100%;
        }
    }

    .search-content_filter {
        ul {
            list-style-type: none;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 20px;
                a {
                    text-decoration: none;
                    color: $light-black;
                    font-size: 16px;
                }

                &.active {
                    a {
                        color: $theme;
                    }
                }
            }

        }
    }


    .search-item {
        margin-bottom: 15px;
        a {
            color: $theme;
            font-size: 16px;
            text-decoration: underline;
            display: block;
            margin-bottom: 8px;
        }
        p {
            color: $light-black;
            font-size: 14px;
        }
    }
}

.section-contact {
    address {
        margin-bottom: 30px ;
        label {
            font-size: 18px;
            font-weight: bold;
            color: $light-black;
        }

        img {
            margin-right: 10px;
            height: 22px;
        }
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
        }
    }


    .form-control_custom {
        border-radius: 0;
        font-size: 14px;
        color: $light-black;
    }
}

.section-team {
    .team-member {
        border: 1px solid #b3b3b3;
        padding: 10px;
        margin-bottom: 30px;
        text-decoration: none;
        display: block;


        @media screen and (min-width: 991px){
            height: 350px;
        }

        img {
            width: 144px;
            height: 144px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
        &-name {
            color: #303030;
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;
        }
            label {
                color: #303030;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 3px;
                display: block;
                cursor: pointer;

                span {
                    font-size: 13px;
                    font-weight: 400;
                }
            }
    }

    .filter-team-member {
        border: 1px solid #b3b3b3;
        height: 39px;
        width: 100%;
        text-indent: 10px;
        padding-right: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../img/icons/down-arrow-gray.svg);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        color: #b3b3b3;
    }
}

.section-school {
    .team-member {
        .school-address {
            min-height: 100px;
        }
        img {
            width: 100%;
            height: 145px;
        }
        &-name {
            text-align: left;
            margin-top: 15px;
        }

        .show-map {
            text-decoration: none;
            color: $light-black;
            img {
                height: 20px;
                width: auto;
                margin: 0;
                margin-right: 10px;
            }
        }
    }
}

.btn {
    border-radius: 0;
    padding: 8px 30px;
    font-size: 14px;
}

.btn-theme {
    background-color: $theme;
    color: #ffffff;
}

.btn-gray {
    background-color: #6E6E6E;
    color: #ffffff;
}

.btn-theme,
.btn-gray {

    &:hover {
        color: #ffffff;
    }
}

.section-404 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 5%;

    h2 {
        color: #1b1b1c;
        font-family: "Proxima Nova";
        font-size: 233px;
        font-weight: 700;
        @media screen and (max-width: 768px){
            font-size: 40px;
        }
    }

    p {
        color: #1b1b1c;
        font-size: 22px;
        font-weight: 400;
    }

    a {
        color: #1b1b1c;
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
    }
}


.section-videos {
    .video-item {
            padding: 20px 0;
            background-color: #000000;
            position: relative;
            margin-bottom: 30px;
            .video-img {
                height: 116px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .fancy-box-video {
                position: absolute;
                top:50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 5;
                img {
                    height: 46px;
                }
            }
    }

}

.stream-chess-game {
    iframe {
        width: 100%;
        height: 480px;
    }
}

.datepicker-dropdown {
    padding: 20px;
}

.datepicker.form-control {
    background-image: url(../img/icons/date.svg);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-right: 30px;
    border-radius: 0;
    border-color: #b3b3b3;
}
x

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: $theme!important;
    background-image: none;
}

.section-gallery {
    .gallery-item {
        background-color: #303030;
        background-image: url(../img/icons/folder.svg);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        height: 165px;
        margin-bottom: 30px;
        text-decoration: none;

        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;

        p {
            color: #ffffff;
            margin: 0;
            text-align: center;
            padding: 12px;
        }

    }
}